.label {
  line-height: 1.3rem;
  width: fit-content;
  display: flex;
  flex-direction: column;

  :nth-child(1) {
    font-size: 0.8rem;
  }
  :nth-child(2) {
    font-size: 1.2rem;
    color: #255380;
  }
}
