.leaderboard {
  height: 120px;
  width: 50vw;
  border-radius: 20px;
  background: #66ffcc;
  margin: 30px 0px 40px;
  background-image: url('bg.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 500px;
  padding-left: 30px;
  padding-top: 30px;
}
