.loans {
  padding-left: 50px;

  &_firstsection {
    display: flex;
    margin-top: 50px;
    align-items: center;
    gap: 100px;

    h2 {
      font-weight: normal;
      color: #255380;
    }

    .tabs {
      background: #255380;
      display: flex;
      align-items: center;
      padding: 3px;
      border-radius: 25px;

      span {
        width: max-content;
        padding: 8px 20px;
        color: white;
        border-radius: 25px;
        font-size: 0.9rem;
        cursor: pointer;
      }
      span.active {
        background: #66ffcc;
        color: #255380;
      }
    }
  }
}
