.marketcomponent2 {
  font-size: 0.7rem;
  color: white;
  background: #255380;
  width: 160px !important;
  padding: 10px 10px !important;
  border-radius: 10px;
  cursor: pointer;
  position: relative;

  &_inner {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0px 0px;

    > p:first-child {
      font-size: 1.8rem;
      margin: 0px;
    }
  }
  > p:last-child {
    font-size: 0.7rem;
  }
}
